div.text-center
  h4 the only limit is your imagination
  p click to purchase ether
  div#counters-primary.row
    div#total-sold-container.col-md-6
      div.inner.pull-right
        div.dial-container.pull-right
          input(type="text", value="35").dial  
        div.headers.pull-right
          span.counter-header Total Sold
          span.counter-subheader Days left 
            span#days-left-count.counter 0
    div#sold-today-container.col-md-6
      div.inner.pull-left
        div.dial-container.pull-left
          input(type="text", value="35").dial
        div.headers.pull-left  
          span.counter-header Sold Today
          span.counter-subheader
            span#sold-today-count.counter 0
  div#counters-secondary.row
    div#market-cap-container.col-md-4
      span.counter-header Market Cap
        $
        span#market-cap-count.counter 0
    div#total-sold-secondary-container.col-md-4
      span.counter-header Total Sold
      span#total-sold-count.counter 0
    div#exchange-rate-container.col-md-4
      span.counter-header Exchange Rate
      span.counter 1BTC = 2,000Ether